.image-button {
  width: 100%;
  cursor: pointer;
  border-radius: 4px;
}

.image-button:hover {
  opacity: 0.8;
}

img {
  border-radius: 4px;
  width: 100%;
}

.hover-card {
  background-color: rgba(0, 0, 0, 0.5) !important;
  backdrop-filter: blur(4px);
}
