body {
  margin: 0px;
  height: 98.5vh;
  min-height: 98.5dvh;
  width: 100vw;
  background-color: black;
}

.radix-themes {
  position: unset;
  background: none;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */
  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

